/* ===== Imports ===== */
@import url("https://fonts.googleapis.com/css?family=Lobster");

/* ===== Header ===== */
header {
    color: #333333;
    background-image: url("KissesPhoto.jpg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: 75px;
    opacity: 1;
    font-family: "Lobster", cursive;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    line-height: 150px;
    border: 5px solid #333333;
    padding: 60 px;
    margin: 30 px;
    top: 0;
    left: 0%;
    z-index: 1000;
    width: 500;
    /* full page width */
    height: 150 px;
    /* fixed height */
    background-size: 75px auto;
    /* your image won’t stretch */
    box-sizing: border-box;
    background-position: center;

}

.h1-large {
    font-size: 75px;
}

/* ===== Body ===== */
.intro {
    max-width: 500px;
    text-align: right;
}

body {
    background-color: rosybrown;
    color: #FAE0E4;
    font-size: 25px;
    font-family: "Marilyn", serif;
    margin-top: 50px;
}

h1 {
    font-family: "Lobster";
    font-size: 33px;
}


.thick-photo-border {
    border: thick solid #333333;
    padding: 10px;
}


/* ===== Footer ===== */
footer {
    color: #FAE0E4;
    font-size: 14px;
}

.darkfont {
    color: #333333;
}

/* ===== Art ===== */
.stripe {
    height: 30px;
    background: linear-gradient(to right,
            #FF0A54,
            #FF0A54 20%,
            #FF477E 20%,
            #FF477E 40%,
            #FF5C8A 40%,
            #FF5C8A 60%,
            #FF7096 60%,
            #FF7096 80%,
            #FF85A1 80%,
            #FF85A1);
    margin: 20px 20px 20px 20px;
}


/* ===== Links (global) ===== */
a:link {
    color: #FF0A54;
}

a:visited {
    color: #fbb1bd;
}

a:hover {
    color: #FF5C8A;
    text-decoration: none;
    /* Remove underline on hover */
}

a:active {
    color: #F7CAD0;
}

.link-resize {
    font-size: 10px;
}

/* ===== Centering ===== */
.centered {
    text-align: center;
}

.centeredfonts {
    text-align: center;
    font-style: italic;
}

.centeredfonts-small {
    font-size: 20px;
}

.centeredcolor {
    color: #FF0A54;
}

.centeredcolor2 {
    color: #FF477E;
}